body, html {
  height: 90%;
  margin: 0;
}

body {
  /* The image used */
  background-image: url("../images/background.png");
  background-attachment: fixed;
  /* Full height */
  height: 90%; 
  overflow: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}